    <header>
        <div class="headerPart" id="BlogTitle"><h1>Mon Blog</h1></div>
        
        <div class="nav" id="tabiDoogu">
            <nav>
                <ul>
                    <li><a href="?page=index">Accueil</a></li>
                    <li><a href="?page=edit_article&set=yes">créé un article</a></li>
                    <li><a href="?page=login">Connexion</a></li>
                    <li><a href="?page=signup">Inscription</a></li>
                </ul>
                <a href="?page=profil"><img id="pp" src="./assets/logo/pp.jpeg" alt="pp_user"></a>
            </nav>
        </div>
    </header>